.Container_diamond{
  width: 30%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  .diamond {
      width: 20vw;
      height: 20vw;
      clip-path: polygon(22.23% 21.65%, 77.82% 21.65%, 100% 40.3%, 49.82% 100%, 0% 40.16%);
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #9f23b5d7;
      user-select: none;  
      cursor: pointer;
                  span {
                    color: #ffffff;
                    font-size: 13vw; 
                      &:hover {
                        color: #000000;
                        
                        }
        } 
    }
}






