body {
    background-color: #195d72;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #d1f508;
  }
  

  .diamond {
    width: 200px;
    height: 200px;
    position: relative;
    transform: rotate(45deg);
    background-color: #ff00ff; /* Измените цвет бриллианта здесь */
    margin: 50px auto;
  
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100px;
      height: 100px;
      background-color: #ff00ff; /* Измените цвет бриллианта здесь */
    }
  
    &::before {
      top: -50px;
      left: 50px;
      transform: rotate(45deg);
    }
  
    &::after {
      bottom: -50px;
      left: 50px;
      transform: rotate(45deg);
    }
  }
  